@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-style: italic;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Movie-wrapper {
  width: 500px;
  background-color: #ECDFCC;
  color: black;
  border-radius: 10px;
}

.Movie-search {
  font-size: 20px;
  margin-bottom: 36px;
  padding: 20px;
  font-weight: bold;
  width: 475px;
  border-radius: 25px;
}

.Movie-title {
  height: 60px;
  margin-top: 26px;
  font-weight: 600;
}

.Movie-date {
  font-style: italic;
  font-weight: 500;
  margin-top: 26px;
}

.Movie-rate {
  color: gold;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.2em;
}



